@import "./var.styl"
*
	margin 0
	padding 0

*, *:before, *:after{
    box-sizing border-box
}
.mb10{
	margin-bottom 10px
}
.mb24
	margin-bottom 24px
.fa
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
.container
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	
@media (min-width:768px){
	.container{width:100%}
}
@media (min-width:992px){
	.container{width:100%}
}
@media (min-width:1200px){
	.container{max-width:1240px}
}