@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../fonts/iconfont.ttf?t=1625044181608') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-Other-2:before {
  content: "\e635";
}

.icon-Other-4:before {
  content: "\e636";
}

.icon-Other-6:before {
  content: "\e637";
}

.icon-Other-8:before {
  content: "\e638";
}

.icon-Other-13:before {
  content: "\e639";
}

.icon-Other-30:before {
  content: "\e641";
}

