$baseColor = #232931
$fontColor = #edeef0
$hoverColor = #33ff66
$navBgColor = #232931
$navColor = #edeef0
$navBorderColor = #33ff66
$cardBg = #2b333e
$cardBorderColor = #36404f
$footerColor = #909090

$fz12 = 12px
$lineHeight= 1.5em
$linesToshow= 2